html,body{
  font-family: 'Arial';
  color:black;
  /* background-color: black; */
  /* background-image: url("bgIMG.jpeg");
  background-repeat: repeat-x; */
}


.instruction{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 640px;
  text-align: left;
  position: relative;
  margin-top: 515px;
  font-size:18px;
}

.title{
  font-size: 48px;
  display: flex;
  margin: 20px;
}

canvas{
  margin-top: 0px;
}

/* .mask {
  -webkit-mask-image: url('https://cdn.glitch.com/04eadd2b-7dd4-43fc-af3d-cff948811986%2Fstar-mask-gradient.png?v=1597757011489');
  mask-image: url('/image/Figure.png');
} */